<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select-sort</title>
    <script type="text/javascript" src="../lib/angular.min.js"></script>
    <script type="text/javascript" src="../lib/jquery.min.js"></script>
    <style type="text/css">
        label:after { content: "："; }
        .wrapper { margin: 5px 0; }
        .tip { color: gray; font-size: 14px; }
        .value { color: red; }
    </style>
</head>
<body>
    <div ng-controller="ctrl">
        <div class="wrapper">
            <label for="arrayString">所要排序的数组</label>
            <input id="arrayString" type="text" ng-model="arrayString" />
            <span class="tip">使用空格间隔每一个值</span>
        </div>
        <div class="wrapper">
            <button ng-click="sort()">排序</button>
        </div>
        <div class="wrapper">
            <p ng-show="isShow">{{ result }}</p>
        </div>
    </div>

    <script type="text/javascript" src="select-sort.js"></script>
</body>
</html>